@media only screen and (min-width: 470px){
/**stay in the brackets**/
header h1{
    font-size: 40px;
}
header, footer {
    border-radius: 10px;
}
.profilePicture{
    float: right;
    width: 200px;
    box-shadow: 0 0 15px black;
}

}
#banner {
    background-color: teal;
    color: white;
    margin: 0;
    padding: 1em;
    text-align: center;
}