body{
    background-color:  #a9b2ac;
    margin: 0 auto;
}
p, a, li{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
} 
#navigation {
    list-style: none;
    margin-top: 0px;
}
header, header p{
    margin-bottom: 0px;
}
header {
    display: grid;
    grid-template-columns: 1fr 8fr;
}
#navigation li:first-child {
    display: block !important;
    text-align: center;
    font-size: 1.25em;
}
#navigation li {
    display: none;
    text-align: center;
}
nav ul {
    margin: 0;
}
ul li, ul a{
    text-decoration: none;
    color: black; 
    padding: .8rem; 
}
#navigation ul {
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    border-top: 1px solid rgba(0,0,0,0.4);
}

.motto {
    padding: 0;
    margin: 0;
    text-align: left;
}
.motto p{
    font-size: .75em;
}
.motto h3 {
    font-size: .9em;
}
header img {
    height: 4em;
}
nav ul {
    align-items: center;
    
}
#five, nav, footer, header {
    background-color: #197bbd;
}
#footer{
    
    text-align: center;
    
}
#contact {
    text-align: center;
    font-weight: 900;
}
footer{
    text-align: center;
}
.responsive li {
    display: block !important;
}
nav ul li a:hover {
    background-color: #bcd0c7;
}
.motto {
    justify-content: left;
}
header img {
    margin: 10px;
    padding-left: 20px;
}
.largeView, .mediumView{
    display: none;
}
.imageTop{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1000px;
    grid-gap: 10px;
    padding-top: 20px;
}
.imageTop img {
    max-width: 400px;
    align-self: center;
    justify-self: center;
}
.active {
    background-color: #bcd0c7;
}
.book {
    margin: 0 auto;
    text-align: center;
    max-width: 75%;
    background-color: #197bbd;
    border-radius: 100px;
}
.book h1 a:link, .book h1 a:visited,.book h1 a:active {
    text-decoration: none;
    color: black;
}
.book:hover{
    color: black;
    text-decoration: none;
    background-color: #bcd0c7;
}
.introTemple {
    max-width: 80%;
    margin: 0 auto;
}
.butler {
    max-width: 300px;
    justify-self: center;
}
.goal {
    padding-top: 30px;
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
}
.nativity {
    max-width: 100%;
    justify-self: center;
}
.news {
    text-align: center;
}
.cInfo {
    max-width: 1000px;
    margin: 0 auto;
}
.submitContact{
    margin-top: 20px;
}
#footerMap {
    display: grid;
    grid-template-columns: 1fr;
}
#footerMap .footinfo, #footerMap #contact {
    text-align: left;
}
.service, .services{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.services img {
    max-width: 200px;
    justify-self: center;
    margin-bottom: 10px;
}
.services li {
    align-self: center;
    list-style: none;
}
.service li {
    list-style: none;
    margin-top: 20px;
}
.service h3 {
    text-align: left;
}
.left {
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
    list-style: none;
    margin-top: 10px;
}
.left li {
    margin-top: 10px;
}






@media only screen and (min-width: 785px){
    /**stay in the brackets**/
    #navigation li:first-child {
        display: none !important;
    }
    #navigation li {
        display: inline-flex;
        padding: .1em;
        text-align: right;
    }
    nav ul li a {
        display: block;
        border-top: none;
    }
    ul {
        display: inline-flex;
    }
    .responsive li {
        display: inline-flex !important;
    }
    .mediumView {
        display: inline;
    }
    .imageTop{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        max-width: 1000px;
        grid-gap: 30px;
    }
    .imageTop img {
        max-width: 350px;
    }
    .goal {
        grid-template-columns: 1fr 1fr;
    }
    .services {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .services img {
        max-width: 350px;
    }
    .hide {
        display: none;
    }
    #footerMap {
        grid-template-columns: 1fr 1fr;
    }
    }

    @media only screen and (min-width: 1200px){
        /**stay in the brackets**/
    
        nav footer {
            max-width: 100%;
        }
        #navigation li {
            padding: 1em;
        }
        .largeView {
            display: inline!important;
        }
        .imageTop{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 1000px;
            grid-gap: 30px;
        }
        .imageTop img {
            max-width: 250px;
        }
        }