h1,h2 {
    font-family: 'Roboto Condensed', sans-serif;
}
header, footer {
    background-color: #0f4102;
    color: white;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    
}
body{
    background-color:white;
    max-width: 800px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    float: none;
    display: block;
    }
div {
    padding: 0px;
    border-radius: 5px;
    background-color: grey;
    margin: 10px;
}
a{
    color: black;
    font-size: 10px;
}
img{
    width: 200px;
    padding-top: 10px;
    
}
/* direct children will be the only ones affected by display: grid;  NO GRANDCHILDREN!!*/
main {
    display: grid;
    grid-template-columns: 1fr;
}
div h3 {
    background-color: #0f4102;
    margin: 0;
    padding: 20 20 20 5;
    border-radius: 5px;
    
}
footer a {
    color: white;
}
h3{
    color: white;
}
