body {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

picture img[data-src] {
    filter: blur(.2em);
}

picture img {
    max-width: 400px;
    max-height: 400px;
    filter: blur(0em);
    transition: filter .5s;
}